<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.layouthomework">

    <application
        android:allowBackup="true"
        android:label="Layout Homework"
        android:theme="@style/Theme.BaiTapTuan2">
        <activity
            android:name="com.example.layouthomework.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>